[Unit]
Description=mc-hololive

[Service]
User=root
WorkingDirectory=/home/mc-holive/mc-hololive-conf
ExecStart=podman compose -f docker-compose.yml up
# optional items below
Restart=always
RestartSec=10


[Install]
WantedBy=multi-user.target